.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
}

input, select, label, textarea, button {
    display: block;
    margin-top:5px;
    padding: 5px;
}

h1 {
    color:blue;
}

.input-group {
    text-align: left;
}