#container {
    margin-top: 20vh;
}

table, th, td {
    border: 1px solid black;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}